@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import '../../helpers/_variables.scss';

body {
  background-color: $background-color;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 18px;
  line-height: 28px;
  margin: 10px 0;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 70%;
  margin: 106px auto 0;
  padding: 0;
  max-width: 938px;
}