@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import '../../helpers/_variables.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  line-height: 28px;
  margin: 10px 0;
}

button {
  cursor: pointer;
}