@import '../../helpers/_variables.scss';

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 16px 45px;
  background-color: #ffffff;
  color: $heading-color;
  z-index: 1000;
}

.title {
  flex-grow: 1;
}

.user {
  display: flex;
  align-items: center;
  padding: 0 27px;
}

.user img {
  width: 46px;
  height: 46px;
  margin-left: 13px;
  border-radius: 50%;
}

.username {
  color: $heading-color;
}

.logOut {
  font-size: 18px;
  padding: 11px 20px;
  color: inherit;
  background-color: inherit;
  border: 1px solid $heading-color;
  border-radius: 5px;
}