@import '../../../helpers/_variables.scss';

a.linkButton {
  display: inline-block;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  color: inherit;

  &.green {
    color: $success-color;
    border: 1px solid $success-color;
  }

  &.red {
    color: $error-color;
    border: 1px solid $error-color;
  }

  &.small {
    padding: 6px 18px;
    font-size: 14px;
    align-self: center;
  }

  &.signIn {
    margin-right: 5px;
    padding-top: 13px;
  }
}
