@import '../../../helpers/_variables.scss';

a {
   &.signIn, &.signUp {
        font-size: 18px;
        padding: 11px 20px;
        border: none;
        background-color: inherit;
    }

    &.signUp {
        color: $success-color;
        border: 1px solid $success-color;
        border-radius: 5px;
    }

    &.create {
        padding: 6px 10px;
        font-size: 14px;
        align-self: center;
    } 
}
