.articlesList {
  width: 70%;
  margin: 106px auto 0;
  padding: 0;
  max-width: 968px;
}

.article {
  list-style: none;
  height: 140px;
  margin-bottom: 26px;
  background-color: #FFFFFF;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
}