@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "src/helpers/_variables.scss";

$border-color: #D9D9D9;

.form {
  font-family: 'Roboto', sans-serif;
  color: #262626;
  font-size: 14px;
  max-width: 384px;
  margin: 0 auto;
  padding: 48px 32px;
  background-color: #FFFFFF;
  border: 1px solid $border-color;
  border-radius: 6px;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  & legend {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  & label {
    display: block;
    margin: 16px 0 0 0;
  }
  & input:not([type='checkbox']), & textarea {
    width: 100%;
    height: 40px;
    margin-top: 3px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid $border-color;
    outline: none;
    &:focus {
      border-color: $primary-color;
    }
  }
  & input.inputError {
    border: 1px solid $highlight-color;
  }
  & .checkbox {
    & label {
      display: inline-flex;
      margin-top: 0;
      cursor: pointer;
      line-height: 22px;
    }
    & input {
      position: absolute;
      opacity: 0;
      z-index: -1;
      &+label::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 2px;
        margin-right: 8px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $primary-color;
        border-radius: 2px;
      }
    }
    & input:checked+label::before {
      background-color: $primary-color;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
      fill: #FFFFFF;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  & button {
    width: 100%;
    height: 40px;
    margin: 21px 0 10px 0;
    background-color: $primary-color;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
  & .link {
    display: block;
    font-size: 12px;
    text-align: center;
    color: #8C8C8C;
    & a {
      color: $primary-color;
    }
  }
}

.hr {
  display: block;
  margin: 21px 0 9px 0;
  border-bottom: 1px solid #E8E8E8;
}

.error, .success {
  display: block;
  margin: 2px 0 0 0;
  color: $highlight-color;
}

.success {
  color: $success-color;
}

.loading {
  display: inline-block;
}

.loading:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 0.7s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form.editArticle {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 80vh;
  & textarea {
    font-family: inherit;
    resize: none;
    min-height: 200px;
  }
  & .flexGrow {
    flex-grow: 1;
  }
  & button {
    max-width: 300px;
  }
  & fieldset {
    display: flex;
    border: none;
    align-items: flex-end;
    & input {
      margin: 0 17px 5px 0;
    }
    & button {
      width: auto;
      margin: 0;
      padding: 0 40px;
      background-color: inherit;
      color: $error-color;
      border: 1px solid $error-color;
    }
    & .addButton {
      margin: 0 0 5px 17px;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
    & .tagList {
      flex-basis: 50%;
    }
    & .tagList li {
      display: flex;
    }
  }
}